/backend/node_modules
/backend/public/hot
/backend/public/storage
/backend/storage/*.key
/backend/storage/framework/cache
/backend/storage/framework/sessions
/backend/storage/framework/views
/backend/storage/logs
/backend/vendor
/backend/.env
/backend/.env.backup
/backend/.env.production
/backend/.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
.DS_Store
.idea
.vscode
*.log
/backend/.env.local
/docker/mysql-data/
/docker/postgres-data/
/docker/redis-data/
/backend/package-lock.json
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/storage/logs
.history
/laravel-app/
