.git
.gitignore
.env
.env.*.php
.DS_Store
.idea
.vscode
*.swp
*.swo
*~
.cache
node_modules
npm-debug.log
yarn-error.log
storage/debugbar/
.env.testing
docker/mysql-data/
docker/postgres-data/
docker/redis-data/
docker/nginx-logs/
vendor
.dockerignore
.railwayignore
.phpunit.result.cache
docker-start.sh
docker-stop.sh
docker-compose.yml
.env
